<div class="shaddowed card bg-white" style="min-height:75vh;position:relative;">

  <p style="text-align:center;padding-top:200px;">
    <i class="fa fa-search-plus fa-5x"></i>
    <i class="fa fa-wrench fa-5x "></i>
    <br>
    <h3 class="text-muted" style="text-align:center;"> Dashboard for project management</h3>
  </p>
    <!-- <div class="col-md-11">
    </div>
    <div class="col-md-1" style="position:absolute; height:100%;top:0px;right:0px;margin:0px;padding:0px;background-color:var(--themeMain);color:white;">
        <ul class="nav nav-sidebar-inverse" style="width:100%;">
          <li class="active">
            <a class="text-center">
                <i class="fa fa-plus fa-3x"></i> <br> New
            </a>
          </li>
          <li>
            <a class="text-center">
                <i class="fa fa-bar-chart-o fa-3x"></i> Stats
            </a>
          </li>
        </ul>
    </div> -->
</div>
