<div class="shaddowed card bg-white" style="position:relative;min-height:750px;">
  <div class="container-fluid" style="padding:0px;">
    <div class="col-md-12" style="padding:0px;">
      <div ui-view></div>
    </div>
  </div>
</div>
