<div class="col-md-4 " style="margin-bottom:10px;">
  <div class="card {{getStatusColor()}}" style="padding:10px;min-height:150px;" ng-controller="projectManagement.taskBoard.task.item">
    <h4>{{data.title}}</h4>
    <small>Due date : {{data.dueDate | date:'dd-MMM'}}</small>
    <div class="pull-right">
      Percentage completion : {{getPercentageComplete()}}
    </div>
    <div ng-if="data.project">
      <hr>
      <strong>Project :</strong> {{data.project.title}} <br>
    </div>
    <i class="fa fa-info-circle fa-3x" ng-click="rowActionClicked('taskBrowser')" style="position:absolute;right:20px;bottom:10px;cursor:pointer;"></i>
  </div>
</div>
