/*.nav-tabs .active > a{
  border-top:6px solid var(--themeMain) !important;
}*/

.hoverList:hover {
  background-color: #eeeeee;
  cursor: pointer;
}

.timeline {
    position: relative;
    margin: 0px 0px 30px;
    padding: 0px;
    list-style: outside none none;
}
.timeline  li {
    position: relative;
    margin-right: 10px;
    margin-bottom: 15px;
    box-sizing: border-box;
}

.timeline .time-label > span {
    font-weight: 600;
    padding: 5px;
    display: inline-block;
    background-color: #FFF;
    border-radius: 4px;
}
.timeline  .time-label > span {
    font-weight: 600;
    padding: 5px;
    display: inline-block;
    background-color: #FFF;
    border-radius: 4px;
}
.timeline li > .fa, .timeline li > .glyphicon, .timeline li > .ion {
    width: 30px;
    height: 30px;
    font-size: 15px;
    line-height: 30px;
    position: absolute;
    color: #666;
    background: #5a6d91 none repeat scroll 0% 0%;
    border-radius: 50%;
    text-align: center;
    left: 18px;
    top: 0px;
}

.timeline-inverse li > .timeline-item {
    background: #F0F0F0 none repeat scroll 0% 0%;
    border: 1px solid #DDD;
    box-shadow: none;
}
.timeline li > .timeline-item {
    /*box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);*/
    border-radius: 3px;
    margin-top: 0px;
    background: #FFF none repeat scroll 0% 0%;
    color: #444;
    margin-left: 60px;
    margin-right: 15px;
    padding: 0px;
    position: relative;
    box-sizing: border-box;
}


.timeline li > .timeline-item > .time {
    color: #999;
    float: right;
    font-size: 12px;
    box-sizing: border-box;
}

.timeline-inverse li > .timeline-item > .timeline-header {
    border-bottom-color: #DDD;
}
.timeline li > .timeline-item > .timeline-header {
    margin: 0px;
    color: #555;
    border-bottom: 1px solid #F4F4F4;
    padding: 10px;
    font-size: 16px;
    line-height: 1.1;
}
.timeline li > .timeline-item > .timeline-body, .timeline li > .timeline-item > .timeline-footer {
    padding: 10px;
    box-sizing: border-box;
}
.timeline li > .timeline-item > .timeline-footer  a{
  text-decoration: none;
}

.timeline li > .timeline-item > .timeline-body, .timeline li > .timeline-item > .timeline-footer {
    padding: 10px;
    box-sizing: border-box;
}

.timeline::before {
    content: "";
    position: absolute;
    top: 0px;
    bottom: 0px;
    width: 4px;
    background: #DDD none repeat scroll 0% 0%;
    left: 31px;
    margin: 0px;
    border-radius: 2px;
    box-sizing: border-box;
}


.modal-xl{
  width:80%;
}
.modal-xxl{
  width:90%;
}

body {
  background-color: #eee;
  padding-top:70px;
}

.hoverableDiv :hover{
  background-color: #e0e0e0;
  border-radius: 4px;
  cursor: pointer;
}


.padded > li > a {
  padding-top: 20px;
  padding-bottom: 20px;
}

.nav-horizontal{

    list-style: none;
    position: relative;
    margin: 0px;
    padding: 0px;
    border: 0px;
    background: -moz-linear-gradient(right,rgba(255,0,0,0),#eee);
}
.nav-horizontal > li{
    cursor: pointer;
    position: relative;
    display: table-cell;
    border-spacing: 0px 0px;
    border-collapse: collapse;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    right: 0;
    margin: 0px;
}
.nav-horizontal > li a{
    color:  var(--themeMain);
}

.nav-horizontal> li > a:hover, .nav-horizontal > li >a:focus ,
.nav-horizontal> .active, .nav-horizontal> .active a ,
.nav-horizontal> li:hover a, .nav-horizontal > li:focus a,
.nav-horizontal> li:hover, .nav-horizontal > li:focus{
	background-color: var(--themeMain);
	color: #fff;
}

.navbar {
    -webkit-box-shadow: 0 5px 6px -6px #999;
    -moz-box-shadow: 0 5px 6px -6px #999;
    box-shadow: 0 5px 6px -6px #999;
}
.nav-sidebar> li > a {
  color:var(--themeMain);
}

.nav-sidebar> li > a:hover, .nav-sidebar > li >a:focus , .nav-sidebar> .active > a , .sidebarList> li > a:focus , .sidebarList> li > a:active{
	background-color: var(--themeMain);
	color: #fff;
}

.nav-sidebar-inverse> li > a {
  color:white;
  border-right: solid 6px var(--themeMain);
}

.nav-sidebar-inverse> li > a:hover, .nav-sidebar-inverse > li >a:focus , .nav-sidebar-inverse> .active > a{
  background: rgba(0, 0, 0, 0.2) none repeat scroll 0% 0%;
  border-right: solid 6px white;
  color: #fff;
}

.sidebarList> li > a {
	color:#337AB7;
}


.breadcrumbTheme {
    background-color: var(--themeMain);
    border-radius: 0px;
}
.breadcrumbTheme a {
  color: white;
}

.shaddowed{
  box-shadow: 2px 2px 3px #888;
}
.card{
  display: block;
  padding-bottom:10px;
  box-shadow: 0px 2px 8px rgba(26, 24, 20, 0.2);
}
/*/ customAlert */
.alert.customAlert {
  background-color: #fafafa;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  color: #666;
  min-width: 403px;
  padding : 20px 50px 20px 30px;
  position: fixed;
  right: 20px;
  top: 20px;
  z-index: 9999;
  height: 92px;
}

.customAlert strong {
  display: block;
  font-size: 16px;
  margin-bottom: 5px;
}
.customAlert .close {
  position: fixed !important;
  right: 15px !important;
  top: 5px !important;
}
.customAlert em {
  color: #999;
  display: inline-block;
  margin: 0 5px;
  max-width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: middle;
  white-space: pre;
}
.listAddCont .action{
  top: 13px;
}
.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
}

.bg-white{
  background-color: white !important;
}
.bg-shaded{
  background-color: #e9e9e9 !important;
}

.bg-aqua{
  background-color: #16a085 !important;
}

.bg-green{
    background-color: #27ae60 !important;
}

.bg-yellow {
    background-color: #FFB424 !important;
}

.bg-red{
    background-color: #b85246 !important;
}

.bg-blue {
  background-color: #2980b9 !important;
}

.bg-black {
  background-color: #34495e !important;
}
.bg-orange {
  background-color: #af6a10 !important;
}
.bg-purple {
  background-color: #795F99 !important;
}
.bg-olive {
  background-color: #828504 !important;

}
.bg-fuchsia {
  background-color: #ad2a72 !important;

}


.bg-red, .bg-yellow, .bg-aqua, .bg-blue, .bg-light-blue, .bg-green, .bg-navy, .bg-teal, .bg-olive, .bg-lime, .bg-orange, .bg-fuchsia, .bg-purple, .bg-maroon, .bg-black, .bg-red-active, .bg-yellow-active, .bg-aqua-active, .bg-blue-active, .bg-light-blue-active, .bg-green-active, .bg-navy-active, .bg-teal-active, .bg-olive-active, .bg-lime-active, .bg-orange-active, .bg-fuchsia-active, .bg-purple-active, .bg-maroon-active, .bg-black-active {
  color: #FFF !important;
}



/*Nav bar*/



/*.navbar-default {
  background-color: var(--themeMain);
  border-color:var(--headerNavbarHighlight);
}
.navbar-default .navbar-brand {
  color: #ffffff;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #ffffff;
}
.navbar-default .navbar-text {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > a {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #ffffff;
  background-color: var(--headerNavbarHighlight);
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #ffffff;
  background-color: var(--headerNavbarHighlight);
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  color: #ffffff;
  background-color: var(--headerNavbarHighlight);
}
.navbar-default .navbar-toggle {
  border-color: var(--headerNavbarHighlight);
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: var(--headerNavbarHighlight);
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ffffff;
}
.navbar-default .navbar-link {
  color: #ffffff;
}
.navbar-default .navbar-link:hover {
  color: #ffffff;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ffffff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffffff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffffff;
    background-color: var(--headerNavbarHighlight);
  }
}*/


.bs-callout {
    margin-bottom:10px;
    padding: 4px;
    padding-bottom:0px;
    border-width: 4px;
    background-color:var(--verticalNavbarBg);
}

/*Image in the feed views on the profile*/
.center-cropped {
  width: 70px;
  height: 70px;
  margin-left: 0px;
  background-position: center center;
  background-repeat: no-repeat;
  overflow: hidden;
  -webkit-box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.75);
  box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.75);
  margin-bottom: 5px;
}


.info-box {
  display: block;
  min-height: 90px;
  background: #eee none repeat scroll 0% 0%;
  width: 100%;
  margin-bottom: 15px;
  box-shadow: 0px 2px 8px rgba(26, 24, 20, 0.2);
}


.info-box-faIcon {
  line-height: 90px;
}
.info-box-icon {
  border-radius: 2px 0px 0px 2px;
  display: block;
  float: left;
  height: 100%;
  width: 90px;
  text-align: center;
  font-size: 45px;
  background: rgba(0, 0, 0, 0.2) none repeat scroll 0% 0%;
}

.info-box-content {
  padding: 5px 10px;
  margin-left: 90px;
}
.info-box-number {
  display: block;
  font-weight: bold;
  font-size: 18px;
}

.info-box .progress .progress-bar {
    background: #FFF none repeat scroll 0% 0%;
}

.info-box .progress, .info-box .progress .progress-bar {
    border-radius: 0px;
}
.info-box .progress {
    background: rgba(0, 0, 0, 0.2) none repeat scroll 0% 0%;
    margin: 5px -10px;
    margin-top: 5px;
    margin-right: -10px;
    margin-bottom: 5px;
    margin-left: -10px;
    height: 2px;
}
.progress, .progress > .progress-bar, .progress .progress-bar, .progress > .progress-bar .progress-bar {
    border-radius: 1px;
}
.progress {
    height: 20px;
    margin-bottom: 20px;
    overflow: hidden;
    background-color: #F5F5F5;
    border-radius: 4px;
}

.small-box {
    position: relative;
    display: block;
    margin-bottom: 20px;
    box-sizing: border-box;
    box-shadow: 1px 1px 2px #888;
}

.small-box h3 {
    font-size: 38px;
    font-weight: bold;
    margin: 0px 0px 0px;
    margin-left:10px;
    white-space: nowrap;
    padding: 10px;
}

.small-box p {
    font-size: 15px;
    margin-left: 10px;
    box-sizing: border-box;
    padding:5px;
}

.small-box .icon {
    position: absolute;
    top: -10px;
    right: 10px;
    z-index: 0;
    font-size: 90px;
    color: rgba(0, 0, 0, 0.15);
    box-sizing: border-box;
}

.small-box > .small-box-footer {
    position: relative;
    text-align: center;
    padding: 3px 0px;
    color: rgba(255, 255, 255, 0.8);
    display: block;
    z-index: 10;
    background: rgba(0, 0, 0, 0.1) none repeat scroll 0% 0%;
    text-decoration: none;
}


.box-widget {
    border: medium none;
    position: relative;

}
.box {
    position: relative;
    background: #FFF none repeat scroll 0% 0%;
    margin-bottom: 20px;
    width: 100%;
    box-sizing: border-box;
}
.widget-user-2 .widget-user-header {
    padding: 20px;
    min-height: 95px;
}

.widget-user-2 .widget-user-image > img {
  width: 65px;
  height: auto;
  float: left;
  vertical-align: middle;
  box-sizing: border-box;
  border-radius: 50%;
}
.widget-user-2 .widget-user-username, .widget-user-2 .widget-user-desc {
    padding-right: 20px;
    float: right;
}
.widget-user-2 .widget-user-username {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 20px;
    font-weight: 300;
}

.widget-user-2 .widget-user-desc {
    margin-top: 0px;
}

.box-footer {
    background-color: var(--verticalNavbarBg);
    box-sizing: border-box;
}

.nav-stacked > li > a {
    border-top: 0px none;
    border-left: 3px solid transparent;
    color: #444;
    position: relative;
    display: block;
}
.nav-stacked > li > a:hover {
    background-color: #d6d3d3
}

.widget-user .widget-user-header {
    padding: 20px;
    height: 150px;
}

.bg-black {
    background-color: #111 !important;
}
.widget-user .widget-user-username {
    margin-top: 0px;
    margin-bottom: 5px;
    font-size: 25px;
    font-weight: 300;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
}

.widget-user .widget-user-image {
    position: absolute;
    top: 90px;
    left: 50%;
    margin-left: -45px;
    box-sizing: border-box;
}
.widget-user .widget-user-image > img {
    width: 90px;
    height: 90px;
    border: 3px solid #FFF;
    border-radius: 50%;
    vertical-align: middle;
    box-sizing: border-box;
}

.widget-user .box-footer {
    padding-top: 30px;
}

.widget-user .widget-user-desc {
    margin-top: 0px;
}

.description-block {
    display: block;
    margin: 10px 0px;
    text-align: center;
    box-sizing: border-box;
}

.description-block > .description-header {
    margin: 0px;
    padding: 0px;
    font-weight: 600;
    font-size: 16px;
}


.list-group {
    padding-left: 0px;
    margin-bottom: 20px;
}

.list-group-unbordered > .list-group-item {
    border-left: 0px none;
    border-right: 0px none;

}
.list-group-item {
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    background-color: #FFF;
    border: 1px solid #DDD;
    box-sizing: border-box;
}

.list-group>li:hover{
  background:var(--verticalNavbarBg);
}

.profile-user-img {
    margin: 0px auto;
    width: 100px;
    padding: 3px;
    border: 3px solid #D2D6DE;
}
