{% load staticfiles %}

<!DOCTYPE html>
<html ng-app="app" ng-controller="main" id="main">
  <head>
    <meta charset="utf-8">
    <title>{{BRAND_NAME}} - ERP</title>
    <meta name="viewport" content="initial-scale=1">
    <!-- stock css libraries -->

    {% if useCDN %}
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" charset="utf-8">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" charset="utf-8">
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/angular.chartjs/0.8.8/angular-chart.min.css" charset="utf-8">
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/animatecss/3.5.1/animate.min.css" charset="utf-8">
      <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.9.1/styles/github.min.css"> -->
    {% else %}
      <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" charset="utf-8">
      <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}" charset="utf-8">
      <link rel="stylesheet" href="{% static 'css/angular-chart.min.css' %}" charset="utf-8">
      <link rel="stylesheet" href="{% static 'css/animate.css' %}" charset="utf-8">
    {% endif %}
    <link rel="stylesheet" href="{% static 'css/githubHighlightJSTheme.min.css' %}" charset="utf-8">
    <link rel="stylesheet" href="{% static 'css/angular-aside.min.css' %}" charset="utf-8">
    <link rel="stylesheet" href="{% static 'css/ng-tags-input.min.css' %}" charset="utf-8">
    <link rel="stylesheet" href="{% static 'css/octicons.css' %}" charset="utf-8">
    <!-- custom css -->
    <link rel="stylesheet" href="{% static 'css/custom/base.css' %}" charset="utf-8">
    <link rel="stylesheet" href="{% static 'css/custom/navbarControls.css' %}" charset="utf-8">
    <link rel="stylesheet" href="{% static 'css/custom/calendar.css' %}" charset="utf-8">
    <link rel="stylesheet" href="{% static 'css/app.HR.css' %}" charset="utf-8">

    {% for a in appsWithCss %}
      <link rel="stylesheet" href="{% static '' %}css/{{a.name}}.css" charset="utf-8">
    {% endfor %}

    <style media="screen" ng-bind-html="theme"></style>
  </head>
  <body>

    <div flash-message="4000" style="position:fixed;top:70px;right:10px;z-index:9999;min-width:300px;"></div>

    <div ng-include="headerUrl"></div>
    <div ui-view ng-if="modules.length>0"></div>

    <!-- contains very common ng templates used in the directives -->
    <!-- Stock JS libraries -->


    {% if useCDN %}
      <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.17/angular-ui-router.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-sanitize/1.4.9/angular-sanitize.min.js"></script>
      <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/1.1.2/ui-bootstrap-tpls.min.js"></script> -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-chart.js/0.8.8/angular-chart.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/fabric.js/1.5.0/fabric.min.js"></script>
      <script src="https://autobahn.s3.amazonaws.com/autobahnjs/latest/autobahn.min.jgz"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/4.3.4/tinymce.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.9.1/highlight.min.js"></script>
      <script src="https://pc035860.github.io/angular-highlightjs/angular-highlightjs.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-audio/1.7.2/angular.audio.min.js"></script>
    {% else %}
      <script src="{% static 'js/jquery-2.1.4.min.js' %}"></script>
      <script src="{% static 'js/bootstrap.min.js' %}"></script>
      <script src="{% static 'js/angular.min.js' %}"></script>
      <script src="{% static 'js/angular-ui-router.min.js' %}"></script>
      <script src="{% static 'js/angular-sanitize.min.js' %}"></script>
      <script src="{% static 'js/Chart.min.js' %}"></script>
      <script src="{% static 'js/angular-chart.min.js' %}"></script>
      <script src="{% static 'js/fabric.min.js' %}"></script>
      <script src="{% static 'js/autobahn.min.js' %}"></script>
      <script src="{% static 'js/tinymce.min.js' %}"></script>
      <script src="{% static 'js/highlight.min.js' %}"></script>
      <script src="{% static 'js/angular-highlightjs.min.js' %}"></script>
      <script src="{% static 'js/angular.audio.min.js' %}"></script>
    {% endif %}

    <script src="{% static 'js/ui-bootstrap-tpls-0.14.3.min.js' %}"></script>
    <script src="{% static 'js/angular-bootstrap-confirm.min.js' %}"></script>
    <script src="{% static 'js/ng-tinymce.js' %}"></script>
    <script src="{% static 'js/ng-tags-input.min.js' %}"></script>
    <script src="{% static 'js/angular-flash.js' %}"></script>
    <script src="{% static 'js/ngDraggable.js' %}"></script>
    <script src="{% static 'js/angular-aside.min.js' %}"></script>
    <script src="{% static 'js/markdown.min.js' %}"></script>
    <!-- Custom JS files -->
    <script type="text/javascript">
      var wampServer = '{{wampServer}}';
      var wampBindName = "{{user.username}}";
      var BRAND_LOGO = "{{BRAND_LOGO}}";
    </script>
    <script src="{% static 'js/custom/wampProcessors.js' %}"></script>
    <script src="{% static 'js/custom/nativeJS.js' %}"></script>
    <script src="{% static 'js/custom/ngLibreERP.js' %}"></script>
    <script src="{% static 'js/custom/directives.js' %}"></script>
    <script src="{% static 'js/custom/directive.calendar.js' %}"></script>
    <script src="{% static 'js/custom/directive.table.js' %}"></script>
    <script src="{% static 'js/custom/directives.native.js' %}"></script>
    <script src="{% static 'js/custom/filters.js' %}"></script>
    <script src="{% static 'js/custom/services.js' %}"></script>

    {% for a in appsWithJs %}
      <script src="{% static '' %}js/{{a.name}}.js"></script>
    {% endfor %}
    {% for m in modules %}
      <script src="{% static '' %}js/module.{{m.name}}.js"></script>
    {% endfor %}

  </body>
</html>
