<div class="col-md-6">
  <div class="form-group" >
    <label>Username</label>
    <input type="text" class="form-control" ng-model="data.username" required  placeholder="username" disabled>
  </div>
  <div class="form-group">
    <label>First Name</label>
    <input type="text" class="form-control" ng-model="data.first_name" required placeholder="First Name">
  </div>
  <div class="form-group">
    <label>Last Name</label>
    <input type="text" class="form-control" ng-model="data.last_name" required placeholder="Last Name">
  </div>
  <div class="form-group">
    <label >Password</label>
    <input type="password" class="form-control" ng-model="data.password" placeholder="Password" >
  </div>
</div>

<div class="col-md-6">
  <div class="form-group">
    <label >Active ?</label>
    <input type="checkbox" ng-model="data.is_active" >
  </div>
  <div class="form-group">
    <label >Staff ?</label>
    <input type="checkbox" ng-model="data.is_staff" >
  </div>
  <hr>
  <div ng-controller="admin.manageUsers.mailAccount">
    <div class="form-group">
      <label>Email access?</label>
      <input type="checkbox" ng-model="data.mailAccount.active" >
    </div>
    <div class="form-group">
      <button type="button" class="btn btn-primary" ng-click="generateMailPasskey()">Save and Generate Passkey</button>
    </div>
    <div class="row container-fluid">
      password : <span style="font-size:20px;">{{data.mailAccount.passKey}}</span>
    </div>
  </div>

</div>
