<div class="shaddowed card bg-white" style="min-height:850px;">
  <breadcrumb></breadcrumb>
  <div class="col-md-1" style="padding:0px;">
    <button type="button" ng-click="newMail()" class="btn btn-default" style="width:95%;margin-left:5px;" >Compose <i class="fa fa-pencil-square-o"></i></button>
    <hr>
    <ul class="nav nav-sidebar " style="padding-top:5px;padding-bottom:5px;">
      <li ng-class="{active: folderSelected== f.name}" ng-repeat="f in folders track by $index" ng-click = "changeFolder(f.onServer)">
        <a href="" >
          <div align="center">{{f.name.split('.')[f.name.split('.').length-1]}}{{f.new | decorateCount}}</div>
        </a>
      </li>
    </ul>
  </div>
  <div class="col-md-4">
    <ul class="nav">
      <li class="container-fluid" >
        <div class="row">
          <input type="text" class="form-control" placeholder="Search.." ng-model="textToSearch" ng-enter="search()">
        </div>
      </li>
      <li class="container-fluid emailListOptions" >
        <div class="row">
          <div class="col-md-5" style="position: relative;top:12px;">
            <input  type="checkbox" name="name" ng-model = "selectAll">
            <span style="position: relative;top:-2px;left:5px;">Select all<span>
          </div>
          <div class="col-md-7" style="position: relative;top:10px;cursor:pointer;">
            <div class="btn-group pull-right">
              <span class="fa fa-angle-down fa-lg" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ></span>
              <ul class="dropdown-menu">
                <li ng-click="deleteMail()"><a href="">Delete</a></li>
                <li ng-click="flagMails('addFlag')"><a href="">Star</a></li>
                <li ng-click="flagMails('removeFlag')"><a href="">Remove Star</a></li>
                <li><a>Move to</a></li>
                <li role="separator" class="divider"></li>
                <li ng-repeat="f in folders" ng-click="moveMails(f.onServer)"><a href="">{{f.name}}</a></li>
              </ul>
            </div>
          </div>
                <!-- Split button -->
        </div>
      </li>

      <div ng-repeat="email in emails track by $index">
        <email-strip data = "email" index="{{$index}}" goto-Mail="gotoMail" flag-Mail= "flagMail" viewing="viewerMail==$index"></email-strip>
      </div>
      <li class="container-fluid" >
        <div class="row">
          <nav>
            <ul class="pager">
              <li class="previous" ng-click="prevPage()" style="cursor:pointer;"><a><span aria-hidden="true">&larr;</span> Newer</a></li>
              <li class="next" ng-click="nextPage()" style="cursor:pointer;"><a>Older <span aria-hidden="true">&rarr;</span></a></li>
            </ul>
          </nav>
        </div>
      </li>

    </ul>
  </div>
  <!-- {{viewerMail}} -->
  <div class="col-md-7">
    <div class="container-fluid">
      <div class="row">
        <div ng-if="!editor && viewerMail != -1" class="btn-group" role="group" aria-label="...">
          <button type="button" ng-click="reply()" class="btn btn-default"><i class="fa fa-reply"></i> Reply</button>
          <button type="button" ng-click = "reply('all')" class="btn btn-default"><i class="fa fa-reply-all"></i> Reply all</button>
          <button type="button" ng-click = "reply('forward')" class="btn btn-default"><i class="fa fa-share"></i> Forward</button>
          <button type="button" class="btn btn-default" ng-click="deleteMail(true)"><i class="fa fa-trash"></i> Delete</button>
          <div class="btn-group" role="group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Move to
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              <li ng-repeat="f in folders" ng-click="moveMails(f.onServer)"><a href="">{{f.name}}</a></li>
            </ul>

          </div>
        </div>

        <div ng-if="editor" class="btn-group" role="group" aria-label="...">
          <button type="button" ng-click="sendMail()" class="btn btn-default"><i class="fa fa-paper-plane"></i> Send</button>
          <button type="button" ng-click="saveMail()" class="btn btn-default"><i class="fa fa-floppy-o"></i> Save</button>
          <button type="button" ng-click="resetEditor()" class="btn btn-default"><i class="fa fa-times"></i> Cancel</button>
          <button type="button" ng-click="showExtraControls('cc')" class="btn btn-default"><i class="fa fa-plus"></i> Add CC</button>
          <button type="button" ng-click="showExtraControls('bcc')" class="btn btn-default"><i class="fa fa-plus"></i> Add Bcc</button>
          <button type="button" ng-click="attach()" class="btn btn-default"><i class="fa fa-file"></i> Attach</button>
        </div>
        <input ng-if="editor" style="display:inline;" type="file" name="fileInput" id="attach" file-model = "editorData.file">
        <div ng-if="!editor" class="btn-group pull-right" role="group" aria-label="...">
          <a type="button" ng-click="prevMail()" class="btn btn-default"><i class="fa fa-angle-left"></i></a>
          <a type="button" ng-click="nextMail()" class="btn btn-default"><i class="fa fa-angle-right"></i></a>
        </div>

      </div>
      <!-- the html/text mail viewer -->

      <div class="row" ng-if="!editor && viewerMail != -1" style="padding-top:10px;">
        <div class="row" style="{{emailInView.attachments.length == 0 ? 'border-bottom:solid 2px #e4e1e1;':''}}">
          <div class="col-md-10">
            <div class="col-md-2">
              <img ng-src="{{emailInView.originator | getDP}}" height="60px" width="60px" style="position:relative;left:-10px;top:-5px;"/>
            </div>
            <div class="col-md-10" style="position:relative;top:-13px;">
              <div class="row" >
                <h5 style="font-size:16px;" class="text-muted"><a href=""> </a> {{emailInView.subject}}</h5>
              </div>
              <div class="row" >
                From : <span class="text-muted"> {{emailInView.sender | emailAddress}}</span>
                To : <span class="text-muted">{{emailInView.to | emailAddress}}</span>
              </div>

            </div>
          </div>
          <div class="col-md-2 pull-right">
            <span style="float:right">{{emailInView.date | date:'dd MMM yyyy'}}</span>
            <br>
            <span style="float:right">{{emailInView.date | date:'hh:mm a'}}</span>
          </div>
        </div>
        <div class="row" ng-if="emailInView.attachments.length >0" style="border-bottom:solid 2px #e4e1e1;">
          <div class="container-fluid" style="padding:0px;">
            <span ng-repeat="f in emailInView.attachments" class="col-md-4" style="margin-right:5px;">
              <div class="card bg-white" style="padding:10px;margin:5px;cursor:pointer;position:relative;" ng-click="downloadFile(f.name)">
                <i class="fa {{f.name | fileTypeIcon}} fa-lg" ></i> <span style="margin-bottom:10px;position:relative;bottom:1px;left:10px;">{{f.name}}</span>
              </div>
            </span>
          </div>
        </div>
        <div class="row">
          <div class="container-fluid bg-white" style="height:67vh;position:absolute;overflow:auto;width:100%;">
            <div ng-bind-html="emailInView.body" ng-if="emailInView.bodyFormat != 'plain'" style="padding-top:5px;"></div>
            <div ng-if="emailInView.bodyFormat == 'plain'" style="padding-top:5px;">{{emailInView.plainBody}}</div>
          </div>
        </div>
      </div>
      <!-- mail composer -->
      <div class="row" style="padding:10px;" ng-if="editor">
        <div class="container-fluid">
          <div class= "form-group">
            <label class="control-label col-sm-2" for="subject">Subject :</label>
            <div class="col-md-10">
              <input type="text" class = "form-control" name = "subject" placeholder="Subject" ng-model = "editorData.subject">
            </div>
          </div>
          <div class= "form-group">
            <label class="control-label col-sm-2" for="to">To :</label>
            <div class="col-md-10">
              <input type="text" class = "form-control" name = "to" placeholder="To" ng-model = "editorData.to">
            </div>
          </div>
          <div class= "form-group" ng-if="showCC" >
            <label class="control-label col-sm-2" for="cc">CC :</label>
            <div class="col-md-10">
              <input type="text"  class = "form-control" name = "cc" placeholder="CC" ng-model = "editorData.cc">
            </div>
          </div>
          <div class= "form-group" ng-if="showBCC">
            <label class="control-label col-sm-2" for="bcc">BCC :</label>
            <div class="col-md-10">
              <input type="text" class = "form-control" name = "bcc" placeholder="bcc" ng-model = "editorData.bcc">
            </div>
          </div>
          <div class= "form-group" ng-if="editorData.attachments.length >0">
            <label class="control-label col-sm-2" for="bcc">Attachments :</label>
            <div class="col-md-10">
              <span ng-repeat="f in editorData.attachments" class="label label-primary" style="margin-right:5px;"> {{f.filename}}</span>
            </div>
          </div>
        </div>
        <div class="row" style="padding:10px;">
          <textarea ui-tinymce="tinymceOptions" ng-model="editorData.body" ng-if="editorData.bodyFormat!='plain'" ></textarea>
          <textarea ui-tinymce="tinymceOptions" ng-model="editorData.plainBody" ng-if="editorData.bodyFormat=='plain'" ></textarea>
        </div>
      </div>
    </div>
  </div>

</div>
