<div ng-controller="controller.projectManagement.GIT.groups.modal">
  <div class="modal-header">
    <div class="col-md-9">
      <h3 class="modal-title" ng-if="mode == 'edit'">Edit group :
        <strong>{{data.name}}</strong>
      </h3>
      <h3 class="modal-title" ng-if="mode == 'new'">Create a new Group</h3>
    </div>
    <div class="col-md-3">
      <button type="button" ng-click="save()" class="btn btn-primary pull-right">
        Save
      </button>
    </div>
  </div>

  <div class="modal-body" >
    <div class="container-fluid">
      <div class="form-group">
        <label>Name</label>
        <input type="text" ng-model="data.name" class="form-control" placeholder="Enter groups name">
      </div>
      <div class="form-group">
        <label>Description</label>
        <textarea ng-model="data.description" rows="3" cols="40" class="form-control"></textarea>
      </div>

      <div class="form-group">
        <label>Users</label>
        <div class="input-group">
          <input type="text" class="form-control" ng-model = "data.user" uib-typeahead="user as getName(user) for user in userSearch($viewValue)" placeholder="Search and select a user to add him/her in this group">
          <span class="input-group-btn">
            <button class="btn btn-success" type="button" ng-click="addUser()">Add <i class="fa fa-plus"></i></button>
          </span>
        </div><!-- /input-group -->
      </div>
      <!-- {{data}} -->
      <div class="col-md-4" style="padding:10px;" ng-repeat="u in data.users">
        <div class="card container-fluid" style="padding-left:0px;position:relative;">
          <div style="position:absolute;right:0px;top:0px;padding:5px;cursor:pointer;">
            <i class="fa fa-times" ng-click="removeUser($index)"></i>
          </div>
          <div class="col-md-4" style="padding-top:5px;">
            <img ng-src="{{u | getDP}}" class="img-circle" alt="DP" height="50" width="50" />
          </div>
          <div class="col-md-8">
            {{u | getName}} <br>
            ID : <strong>{{u}}</strong>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
