<div class="row" style="padding-left:40%; padding-top:20px;">
  <i style="cursor:pointer;" ng-click="$state.go('projectManagement.GIT')" class="fa fa-git fa-4x"></i>
</div>
<hr>
<div style="position:absolute;left:0px;width:100%;">
  <ul class="nav nav-sidebar-inverse padded" style="width:100%;">
    <li ng-repeat="app in apps" ng-class="{active: isActive($index)}">
      <a ui-sref="{{app.state}}" >
        <div align="center">
          <i class="fa {{app.icon}} fa-2x pull-left"></i>
          {{app.name.split('.')[2] | humanize}}
        </div>
      </a>
    </li>
  </ul>
</div>
