<div style="position:relative; min-height:90vh;top:0px;right:0px;padding:0px;" ng-controller="projectManagement.projects.project.explore">
    <div class="col-md-4" style="padding:0px;overflow:auto;height:100%;position:absolute;">
        <div class="col-md-10" style="padding-top:25px;overflow:auto;height:100%;position:absolute;">
            <div class="card" ng-repeat="u in project.team" style="margin-bottom:20px;">
                <div class="container-fluid" style="padding-top:15px;">
                    <div class="col-md-5">
                        <div class="row">
                            <img ng-src="{{u | getDP}}" width="60" height="60"/>
                        </div>
                        <div class="row">
                            {{u | getName}}
                        </div>
                    </div>
                    <!-- <div class="col-md-7">
                        <div class="row">
                            <strong>5</strong> Commits <br>
                            <strong>2</strong> Documents <br>
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
        <div class="col-md-2 col-md-offset-10" style="padding:0px;background: -moz-linear-gradient(bottom,rgba(255,0,0,0),rgba(212, 212, 212, 1));min-height:400px;">
            <ul class="nav nav-sidebar" style="width:100%;">
                <li class="{{explore.mode == 'git' ? 'active':''}} text-center" ng-click="changeExploreMode('git')"><a href=""><i class="octicon octicon-repo-push mega-octicon"></i></a></li>
                <li class="{{explore.mode == 'tasks' ? 'active':''}} text-center" ng-click="changeExploreMode('tasks')"><a href=""><i class="fa fa-check-square-o fa-2x"></i></a></li>
                <li class="{{explore.mode == 'timeline' ? 'active':''}} text-center" ng-click="changeExploreMode('timeline')"><a href=""><i class="fa fa-commenting fa-2x"></i></a></li>
                <li class="{{explore.mode == 'files' ? 'active':''}} text-center" ng-click="changeExploreMode('files')"><a href=""><i class="fa fa-files-o fa-2x"></i></a></li>
                <li class="{{explore.mode == 'issues' ? 'active':''}} text-center" ng-click="changeExploreMode('issues')"><a href=""><i class="mega-octicon octicon-list-unordered"></i></a></li>
            </ul>
        </div>
    </div>

    <div class="col-md-8 col-md-offset-4" style="overflow:auto;height:80%;position:absolute;">

        <div class="col-md-12" ng-if="explore.mode == 'issues'">
            <h3 class="text-muted">Issues</h3>
            <div class="row">
                <div class="col-md-1">
                    Priority
                </div>
                <div class="col-md-5">
                    Summary
                </div>
                <div class="col-md-2">
                    Created
                </div>
                <div class="col-md-2">
                    Result
                </div>
                <div class="col-md-2">
                    Status
                </div>
            </div>
            <hr>
            <h3 class="text-center">In progress</h3>
            <div class="row hoverList" ng-repeat="i in []" style="padding-top:10px;padding-bottom:10px;">
                <div class="col-md-1">
                    <label class="label label-success">N</label>
                </div>
                <div class="col-md-5">
                    Something not working
                </div>
                <div class="col-md-2">
                    4 days ago
                </div>
                <div class="col-md-2">
                    <label class="label label-success">Resolved</label>
                </div>
                <div class="col-md-2">
                    <label class="label label-success">Complete</label>
                </div>
            </div>
        </div>

        <div class="col-md-12" ng-if="explore.mode == 'git'">
            <h3 class="text-muted">Commits</h3>
            <div ng-repeat="r in project.repos" style="border-bottom:solid 3px #eee;padding-bottom:{{!(r.commitNotifications.length< r.commitCount)? '20px':'0px'}};">
                <div class="row text-center">
                  <h4><span class="octicon octicon-repo"></span> {{r.name}}</h4>
                </div>
                <div ng-repeat="n in r.commitNotifications" class="row" style="padding-top:10px;">
                    <div class="col-md-2" style="padding-right:40px;">
                      <div class="row">
                        <img ng-src="{{n.user | getDP}}" class="img-circle pull-right" width="50"/>
                      </div>
                      <div class="row">
                        <span class="pull-right">{{n.user | getName}}</span>
                      </div>
                    </div>
                    <div class="col-md-10 commitNotification" ng-click="exploreNotification($parent.$index , $index)">
                      <span class="text-muted"> {{n.time |  date : 'hh:mm:a , dd MMM'}}</span><br><strong>[{{n.repo.name}} / {{n.branch}}] :</strong> 1 new commit <br>
                      <code>{{n.sha.substring(n.sha.length-10 , n.sha.length)}}</code> : {{n.message}}
                    </div>
                </div>
                <nav ng-if="r.commitNotifications.length< r.commitCount">
                  <ul class="pager">
                    <li ng-click="loadMore($index)"><a href="">More</a></li>
                  </ul>
                </nav>
            </div>
        </div>

        <div class="col-md-12" ng-if="explore.mode == 'tasks'">
            <h3 class="text-muted">Tasks</h3>
            <div class="row container-fluid">
              <button type="button" class="btn btn-default pull-right" style="margin:10px;" ng-click="createTask()">
                + Add
              </button>
            </div>
            <div class="row hoverList" ng-repeat="t in project.tasks" style="padding-top:10px;padding-bottom:10px;" ng-click="openTask($index)">
                <div class="col-md-1">
                    <i class="fa fa-check-circle-o fa-2x pull-right" style="color:{{ getPercentageComplete($index)>70 ?'#569a23':'#d94f66'}};"></i>
                </div>
                <div class="col-md-5">
                    <span style="font-size:18px;">{{t.title}}</span>
                </div>
                <div class="col-md-2">
                    {{getPercentageComplete($index)}}
                </div>
                <div class="col-md-2">
                    {{t.to | getName}}
                </div>
                <div class="col-md-2">
                    {{t.dueDate | timeAgo}}
                </div>
            </div>
        </div>
        <div class="col-md-12" ng-if="explore.mode == 'files'">
            <div class="row container-fluid">
                <h3 class="text-muted">Files</h3>
                <div style="margin:10px;" class="btn-group btn-group-sm pull-right">
                    <button type="button" class="btn btn-default"  ng-click="updateFiles();explore.addFile = !explore.addFile;">
                        <i class="fa fa-{{explore.addFile? 'mail-reply':'plus'}}"></i> {{explore.addFile ? 'Back' : 'Edit'}}
                    </button>
                    <button type="button" class="btn btn-primary" ng-click="updateFiles()" ng-if="explore.addFile">
                        Save
                    </button>
                </div>
            </div>
            <div ng-if="explore.addFile">
                <media-Field data="project.files" url="/api/projects/media/"></media-Field>
            </div>
            <div ng-if="!explore.addFile">
                <div class="row" style="padding:10px;border-bottom:#eee solid 2px;">
                    <div class="col-md-1">
                    </div>
                    <div class="col-md-6">
                        <span class="text-primary">File Name</span>
                    </div>
                    <div class="col-md-3">
                        <span>Uploader</span>
                    </div>
                    <div class="col-md-2">
                        <span>When</span>
                    </div>
                </div>
                <div class="row" style="padding:10px;"  ng-repeat="f in project.files">
                    <div class="col-md-1">
                        <i class="fa {{f.name | fileTypeIcon}} fa-3x"></i>
                    </div>
                    <div class="col-md-6">
                        <a ng-href="{{f.attachment}}" target="_blank">{{f.name}}</a>
                    </div>
                    <div class="col-md-3">
                        <span>{{f.user | getName}}</span>
                    </div>
                    <div class="col-md-2">
                        <span>{{f.created | timeAgo}}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12" ng-if="explore.mode == 'timeline'">
            <h3 class="text-muted">Timeline</h3>
            <ul class="timeline timeline-inverse">
                <li ng-repeat="i in project.messages">
                    <i class="fa fa-commenting-o bg-blue"></i>
                    <div class="timeline-item">
                        <span class="time">
                            <i class="fa fa-clock-o"></i>
                            {{i.created | timeAgo}}</span>
                        <h3 class="timeline-header" style="height:41px;">
                            <img style="position:relative; float:left; top:-10px;left:-10px;" ng-src="{{i.user | getDP}}" height="40px" width="40px"/>
                            {{i.user | getName}}
                        </h3>
                        <div class="timeline-body">
                            {{i.text}}
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div style="position:absolute;padding:20px;padding-top:10px;bottom:0px;height:20%;border-top:solid 2px #eee;" class="col-md-8 col-md-offset-4">
        <div class="row">
            <div class="col-md-10">
                <textarea class="form-control " rows="3" cols="40" placeholder="Add a comment" ng-model="commentEditor.text"></textarea>
            </div>
            <div class="col-md-2">
                <button type="button" class="btn btn-default col-md-12" ng-click="sendMessage()">
                    Send
                    <i class="fa fa-paper-plane-o"></i>
                </button>
            </div>
        </div>
    </div>
</div>
